.panel-body {
    background-color: lightgrey;
}

.submitArea {
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
}

.btn-info {
    margin-top: 5px;
}

img {
    border: 1px solid black;
    border-radius: 5px;
}

h2 {
    text-transform: uppercase;
}

.panel-default {
    position: relative;
}